<div class="container mt-4">
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Expense Details</h4>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      ></button>
    </div>
    <div class="modal-body">
      @if(errorMessage()){
      <ngb-alert type="danger" [dismissible]="false">{{
        errorMessage()
      }}</ngb-alert>
      }

      <app-income-form #formData />
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="onSubmit(modal)">
        @if(!this.isLoading()){ Add }@else{
        <div class="d-flex justify-content-center align-items-center">
          <div class="spinner-border text-white" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
        }
      </button>
    </div>
  </ng-template>

  <button class="btn btn-sm btn-primary" (click)="open(content)">
    Create Income
  </button>
</div>
